<div class="aboutWrapper">
  <div class="screen">
    <div class="about">
      <h1>
        About
      </h1>
      <p>This app is developed using Angular v16 and it uses <a href="https://dog.ceo/dog-api/">DOG API</a> to list dog breeds and display images from its collection.</p>
      <p>App concept, design, and development by <a href="https://github.com/lil-white-shadow">Krutarth Patel</a></p>
    </div>
    <div class="aboutNav">
      <a routerLink="">Home</a>
      <a routerLink="/gameplay">Play</a>
      <a routerLink="/learn">Learn</a>
    </div>
  </div>
</div>
