.breedContainer {
  padding: 10px;
  margin-top: 80px;
  height: calc(50vh - 100px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.breedContainer, .subbreedWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.breedContainer div {
  display: inherit;
  flex: 1 1 auto;
}

.breed, .subbreed {
  box-sizing: border-box;
  flex-grow: 1;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: #333333;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.breed:hover, .subbreed:hover {
  transform: scale(1.05);
}

.breed:active, .subbreed:active {
  transform: scale(0.95);
}

.clicked {
  background-color: blue;
  color: black;
}

@media (max-width:900px) {

  .breedContainer {
    margin-top: 10px;
    height: calc(50vh - 30px);
  }
}

@media (hover: hover) { 
  .breedContainer::-webkit-scrollbar{
    display: none;
  }
}