.screenWrapper {
  background-size: cover;
}

.screen {
  background-color: #111111;
  margin: 0 auto;
  width: 45vw;
  height: fit-content;
  max-height: 40vh;
  aspect-ratio: 3/4;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 5vh;
  border: 1px solid;
}

.screenVerticalBar {
  display: flex;
  width: 30%;
  border-radius: 4px;
  height: 8px;
  margin-left: 35%;
  background-color: #FFFFFF;
  position: relative;
  top: 85%;
}

.screenNav {
  box-sizing: border-box;
  color: #007AFF;
  display: flex;
  width: 65px;
  border-radius: 5vh 5vh 0 0;
  height: 40px;
  background: #222222;
  width: 100%;
  opacity: 95%;
  background-blend-mode: exclusion;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  font-size: 1.25rem;
}

.navLink {
  cursor: pointer;
}

.navLink__home {
  font-size: 1.5rem;
}

.secondaryLinks {
  display: flex;
  gap: 2rem;
}