<div class="screenWrapper" style="background-image: url({{imageUrl}});">
  <div class="screen" style="background-image: url({{imageUrl}});">
    <div class="screenNav">
      <div class="navLink navLink__home" routerLink="">Home</div>
      <div class="secondaryLinks">
        <div class="navLink" routerLink="/play">Play</div>
        <div class="navLink" routerLink="/learn">Learn</div>
        <div class="navLink" routerLink="/about">About</div>
      </div>
    </div>
    <div class="screenVerticalBar"></div>
    <div class="instructions" *ngIf="imageUrl == ''">
      <h1>
        Instructions
      </h1>
      <p>{{this.instruction}}</p>
      <button *ngIf="this.continueButton !== ''" class="continueButton" (click)="this.getRandomImage()">{{this.continueButton}}</button>
    </div>
    <div *ngIf="this.isPlay && this.userFeedback" class="feedback">That is correct!</div>
    <button *ngIf="this.isPlay" class="nextButton" (click)="this.getRandomImage()">Next</button>
  </div>
</div>
